<!-- <h1>I am mohan</h1> -->
<!-- <app-rooms> </app-rooms> -->

 <!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1>This is from ng-content </h1>
 </app-container>

<div #name>

</div> -->

<!-- Dynamically reder the component using viewCHild() -->
 <!--#user= Template reference-->
 
<!-- <div>
    <ng-template #user></ng-template>   
  </div> -->





<!-- <div [ngSwitch]="role" >

    <div *ngSwitchCase="'user'">
        Welcome  User!
    </div>
    <div *ngSwitchCase="'admin'">
        Welcome  admin!
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view
    </div>

</div> -->

<app-app-nav></app-app-nav>

<!-- <a [routerLink]="'rooms'">ROOMS</a>
<br>
<a [routerLink]="'employee'">EMPLOYEE</a>
<!-- routerLink = binds the router & links to navigate to the required component -->
<!-- router-outlet = specific where the views should be displayed -->
<!-- <router-outlet></router-outlet> -->