<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- this routerLink will check the route config in approuting.ts and load the respective component -->
      <a mat-list-item routerLink="rooms">ROOMS</a>    
      <a mat-list-item routerLink="employee">EMPLOYEE</a> 
      <a mat-list-item routerLink="rooms/add">ADD ROOM</a> 
      <a mat-list-item routerLink="bookings">BOOKINGS</a> 
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hotelInventoryapp</span>
    </mat-toolbar>


    <!-- Add Content Here==based on the tab we select(refer top :rooms,employee,rooms/add) , it will be rendered here -->
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
